<div class="b1"> 
    <h1><%= jdata["item"]["b1"] %></h1>
</div>
<div class="b2">
        <%= jdata["item"]["b2"] %>
    </div> <br/>
    <div class="profile">
        <div class="img">
            <img src=" <%= jdata["item"]["image"] %>" style="border-radius: 50% 50%;" alt="avatar">
        </div>
        <div class="pname">
            <p><%= jdata["item"]["pname"] %></p>
            <p> <%= jdata["item"]["pdate"] %>min read</p>
        </div>
        <div class="follow">
            <a href="#" class="rect1">Follow</a>
        </div> 
</div> <br/><br/>
<div class="data">
        <p><span class="third-first-letter"><%= jdata["item"]["datafl"] %></span><%= jdata["item"]["data"] %> </p> <br/>
        <p>
            <%= jdata["item"]["data1"] %> 
        </p>
        <p>&#8226; <%= jdata["item"]["data2"] %> 
        </p>
        <p>&#8226;  <%= jdata["item"]["data3"] %> </p>
        <p>&#8226; <%= jdata["item"]["data4"] %>
        </p>
        <p>&#8226;  <%= jdata["item"]["data5"] %> </p>
</div> 